

.MIM-OTP-Wizard-Container {
    height: auto;
    padding: 30px;
    text-align: center;
    color: #444444;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.MIM-OTP-Wizard-Heading {
    width: auto;
    height: auto;
    text-align: center;
    color: #444444;
    background-color: #ffffff;
}

.MIM-OTP-Wizard-Type-Container {
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    color: #444444;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    border-radius: 7px 7px 7px 7px;
    background-color: #ffffff;
}

    .MIM-OTP-Wizard-Type-Container img {
        width: 50px;
        height: auto;
        margin-bottom: 15px;
    }

        .MIM-OTP-Wizard-Type-Container img::after {
            content: "\a";
            white-space: pre;
        }

    .MIM-OTP-Wizard-Type-Container h1 {
        font-size: 20px;
        color: #444444;
        line-height: 12px;
    }

        .MIM-OTP-Wizard-Type-Container h1::after {
            content: "\a";
            white-space: pre;
        }

    .MIM-OTP-Wizard-Type-Container p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .MIM-OTP-Wizard-Type-Container a {
        display: inline-block;
        width: 200px;
        height: 50px;
        color: #2459A3;
        font-size: 16px;
        border-radius: 10px 10px 10px 10px;
        padding-top: 10px;
        margin-top: 10px;
        font-weight: bold;
        /* Shafi: Box Shadow */
        -webkit-box-shadow: -1px 1px 6px 3px rgba(0,0,0,0.02);
        -moz-box-shadow: -1px 1px 6px 3px rgba(0,0,0,0.02);
        box-shadow: -1px 1px 6px 3px rgba(0,0,0,0.02);
        border: 1px solid #efefef;
        /* End: */
        /* Shafi: Background Color */
        background: rgb(245,245,245);
        background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(252,252,252,1) 64%, rgba(247,247,247,1) 100%);
        /* End: */
    }

        .MIM-OTP-Wizard-Type-Container a:hover {
            /* Shafi: Background Color */
            background: rgb(237,237,237);
            background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(252,252,252,1) 54%, rgba(242,242,242,1) 100%);
            /* End: */
        }

    .MIM-OTP-Wizard-Type-Container input {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        color: #444444;
        display: inline-block;
        width: 100%;
        height: auto;
        background: #F9F9F9;
        border: 1px solid #C6C6C6;
        border-radius: 10px;
        padding: 7px 15px 7px 15px;
        text-align: center;
    }

    .MIM-OTP-Wizard-Type-Container button {
        color: #2459A3;
        font-size: 16px;
        border: none;
        background: none;
        padding: 0px;
    }

    .MIM-OTP-Wizard-Type-Container .MIM-OTP-Box {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .MIM-OTP-Wizard-Type-Container h2 {
        font-size: 22px;
        color: #00A62E;
    }

    .MIM-OTP-Wizard-Type-Container h3 {
        font-size: 22px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

.MIM-OTP-Wizard-Container input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
