/* Begin: Home */
.mim-Box {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mim-HomeSideMenu {
    color: #373737;
}

    .mim-HomeSideMenu ul li {
        bottom: 0;
        background-color: #fff;
        padding-left: 30px;
        font-size: 14px;
        padding-top: 10px;
        border-right: 1px solid #eeeeee;
    }

.mim-Heading {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
    float: left;
    font-family: 'Arial Narrow', arial;
    width: 100%;
}

.mim-BoxTopMenu {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: -20px;
    height: 53px;
}

.mim-BorderRedBottom {
    border-bottom: 3px solid #e43e2b;
}

.mim-BorderGreenBottom {
    border-bottom: 3px solid #2fa24c;
}

.mim-BorderBlueBottom {
    border-bottom: 3px solid #3b7dee;
}

.mim-BorderYellowBottom {
    border-bottom: 3px solid #f0b504;
}

.mim-BorderRedTop {
    border-top: 2px solid #e43e2b;
}

.mim-BorderGreenTop {
    border-top: 2px solid #2fa24c;
}

.mim-BorderBlueTop {
    border-top: 2px solid #3b7dee;
}

.mim-BorderYellowTop {
    border-top: 2px solid #f0b504;
}

.mim-BoxTopMenu-Button {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    display: inline-block;
}

.mim-RedBg {
    background-color: #e43e2b;
}

.mim-GreenBg {
    background-color: #2fa24c;
}

.mim-BlueBg {
    background-color: #3b7dee;
}

.mim-YellowBg {
    background-color: #f0b504;
}

.mim-Padding-0 {
    padding: 0px;
}

.mim-Margin-0 {
    margin: 0px;
}

.mim-NoDecoration {
    background-color: #f8f8f8;
    border:none;
}
/* End: */

/* Begin: Category Top Most */
.mim-BoxCatTopMost {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 1px;
}

.mim-BoxCatTopMost li {
    line-height:30px;
    border-bottom:1px dotted rgba(0, 0, 0, 0.1);
}

.mim-Padding-Top-15 {
    padding-top:15px;
}
/* Begin: End */

.mim-search-button :focus {
    outline: none;
    box-shadow: none;
}