@model IEnumerable<BOL.LISTING.Rating>
@inject BAL.Services.Contracts.IUserProfileService userProfileService
@inject IListingManager listingRepo

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<link href="~/css/MIMStarRatingReviews.css" rel="stylesheet">

@foreach (var item in Model)
{
    // Begin: Get user profile through User Profile Repository
    var profile = await userProfileService.GetProfileByOwnerGuid(item.OwnerGuid);
    // End:
    // Begin: Get listing details
    var listing = await listingRepo.GetListingDetailsAsync(item.ListingID);
    // End:
    // Begin: Get difference between dates
    DateTime currentDate = DateTime.Now;
    TimeSpan timeSpan = currentDate.Subtract(item.Date);
    // End:
    <div class="row" style="margin-top:15px; border-bottom:1px solid #eeeeee; width:100%;">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="static-rate fs-30 mt-3">
                        @if (item.Ratings == 0)
                        {
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                        }
                        else if (item.Ratings == 1)
                        {
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                        }
                        else if (item.Ratings == 2)
                        {
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                        }
                        else if (item.Ratings == 3)
                        {
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                        }
                        else if (item.Ratings == 4)
                        {
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-light" aria-hidden="true"></i>
                        }
                        else
                        {
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                        }
                        <span style="font-weight:bold; margin-left:15px;">
                            <a href="~/Listing/Index/@item.ListingID" target="_blank" title="Edit review for Listing">
                                @listing.CompanyName
                            </a>
                        </span><span style="margin-left:25px;">@DateTime.UtcNow.AddMinutes(-timeSpan.TotalMinutes).Humanize()</span>
                    </div>
                    <p style="margin-top:10px;">
                        @item.Comment
                    </p>
                </div>
            </div>
        </div>
    </div>
}