@model BOL.LISTING.WorkingHours

@{
    ViewData["Title"] = "Add Working Hours";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Listings";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "Add New Listing";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Create";
    ViewData["BT-Text2"] = "Manage Listings";
    ViewData["BT-Link2"] = "/Subscriptions/Listings/Index";
}
<!-- End: -->

@section Scripts {
    @await Component.InvokeAsync("WorkingHours")
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-2" style="padding-left:0px; margin-left:0px;">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Company
                    <span class="badge badge-success badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Communication
                    <span class="badge badge-success badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Address
                    <span class="badge badge-success badge-pill">3</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Categories
                    <span class="badge badge-success badge-pill">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Specialisation
                    <span class="badge badge-success badge-pill">5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center active">
                    Working Hours
                    <span class="badge badge-light badge-pill">6</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Payment Details
                    <span class="badge badge-secondary badge-pill">7</span>
                </li>
@*                 <li class="list-group-item d-flex justify-content-between align-items-center">
                    Images
                    <span class="badge badge-secondary badge-pill">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Add Social Link
                    <span class="badge badge-secondary badge-pill">9</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    SEO Keyword
                    <span class="badge badge-secondary badge-pill">10</span>
                </li> *@
                @*<li class="list-group-item d-flex justify-content-between align-items-center">
            Neighborhood
            <span class="badge badge-secondary badge-pill">8</span>
        </li>*@
            </ul>
        </div>

        <div class="col-lg-10">
            <form asp-action="Create" class="parsley-style-1" id="selectForm2" name="selectForm2">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>@ViewData["Title"]</h4>
                        <hr />
                        <div class="row">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" id="copy" /> Copy To All
                                </label>
                            </div>
                            <div class="col-md-12">
                                <!-- Begin: Hidden -->
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="ListingID" value="@ViewBag.ListingID" />
                                <input type="hidden" asp-for="OwnerGuid" value="none" />
                                <input type="hidden" asp-for="IPAddress" value="none" />
                                <span asp-validation-for="ListingID" class="text-danger"></span>
                                <span asp-validation-for="OwnerGuid" class="text-danger"></span>
                                <span asp-validation-for="IPAddress" class="text-danger"></span>
                                <!-- End:-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="MondayFrom" class="control-label"></label>
                                    <input asp-for="MondayFrom" class="form-control" id="MondayFrom" value="00:00" />
                                    <span asp-validation-for="MondayFrom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="MondayTo" class="control-label"></label>
                                    <input asp-for="MondayTo" class="form-control" id="MondayTo" value="00:00" />
                                    <span asp-validation-for="MondayTo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TuesdayFrom" class="control-label"></label>
                                    <input asp-for="TuesdayFrom" class="form-control" id="TuesdayFrom" value="00:00" />
                                    <span asp-validation-for="TuesdayFrom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TuesdayTo" class="control-label"></label>
                                    <input asp-for="TuesdayTo" class="form-control" id="TuesdayTo" value="00:00" />
                                    <span asp-validation-for="TuesdayTo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="WednesdayFrom" class="control-label"></label>
                                    <input asp-for="WednesdayFrom" class="form-control" id="WednesdayFrom" value="00:00" />
                                    <span asp-validation-for="WednesdayFrom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="WednesdayTo" class="control-label"></label>
                                    <input asp-for="WednesdayTo" class="form-control" id="WednesdayTo" value="00:00" />
                                    <span asp-validation-for="WednesdayTo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ThursdayFrom" class="control-label"></label>
                                    <input asp-for="ThursdayFrom" class="form-control" id="ThursdayFrom" value="00:00" />
                                    <span asp-validation-for="ThursdayFrom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ThursdayTo" class="control-label"></label>
                                    <input asp-for="ThursdayTo" class="form-control" id="ThursdayTo" value="00:00" />
                                    <span asp-validation-for="ThursdayTo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FridayFrom" class="control-label"></label>
                                    <input asp-for="FridayFrom" class="form-control" id="FridayFrom" value="00:00" />
                                    <span asp-validation-for="FridayFrom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FridayTo" class="control-label"></label>
                                    <input asp-for="FridayTo" class="form-control" id="FridayTo" value="00:00" />
                                    <span asp-validation-for="FridayTo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="SaturdayHoliday" id="SaturdayHoliday" /> @Html.DisplayNameFor(model => model.SaturdayHoliday)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SaturdayFrom" class="control-label"></label>
                                    <input asp-for="SaturdayFrom" class="form-control" id="SaturdayFrom" value="00:00" />
                                    <span asp-validation-for="SaturdayFrom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SaturdayTo" class="control-label"></label>
                                    <input asp-for="SaturdayTo" class="form-control" id="SaturdayTo" value="00:00" />
                                    <span asp-validation-for="SaturdayTo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="SundayHoliday" id="SundayHoliday" /> @Html.DisplayNameFor(model => model.SundayHoliday)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SundayFrom" class="control-label"></label>
                                    <input asp-for="SundayFrom" class="form-control" id="SundayFrom" value="00:00" />
                                    <span asp-validation-for="SundayFrom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SundayTo" class="control-label"></label>
                                    <input asp-for="SundayTo" class="form-control" id="SundayTo" value="00:00" />
                                    <span asp-validation-for="SundayTo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="submit" value="Save & Continue" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
