@model BOL.PLAN.Subscription

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<h1>Edit</h1>

<h4>Subscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubscriptionID" />
            <div class="form-group">
                <label asp-for="ListingID" class="control-label"></label>
                <input asp-for="ListingID" class="form-control" />
                <span asp-validation-for="ListingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerGuid" class="control-label"></label>
                <input asp-for="OwnerGuid" class="form-control" />
                <span asp-validation-for="OwnerGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IPAddress" class="control-label"></label>
                <input asp-for="IPAddress" class="form-control" />
                <span asp-validation-for="IPAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanID" class="control-label"></label>
                <select asp-for="PlanID" class="form-control" asp-items="ViewBag.PlanID"></select>
                <span asp-validation-for="PlanID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodID" class="control-label"></label>
                <select asp-for="PeriodID" class="form-control" asp-items="ViewBag.PeriodID"></select>
                <span asp-validation-for="PeriodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <input asp-for="PaymentStatus" class="form-control" />
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

