@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/Frontend/_ListingDetails.cshtml";
}

@section Scripts{
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
}
<div class="container margin_60_35">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pr-xl-5">
            <div class="main_title_3">
                <span></span>
                <h2>Contact Us</h2>
                <p>Your happiness is what matters</p>
            </div>
            <div id="message-contact"></div>
            <form method="post" action="assets/contact.php" id="contactform" autocomplete="off">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" id="name_contact" name="name_contact">
                        </div>
                    </div>
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" id="email_contact" name="email_contact">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mobile</label>
                            <input class="form-control" type="text" id="phone_contact" name="phone_contact">
                        </div>
                    </div>
                </div>
                <!-- /row -->
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" id="message_contact" name="message_contact" style="height:150px;"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Are you human? 3 + 1 =</label>
                            <input class="form-control" type="text" id="verify_contact" name="verify_contact">
                        </div>
                    </div>
                </div>
                <div class="h-captcha" data-sitekey="7d18869e-4fbe-4b5d-9c62-4c42ad1ac9a5"></div>
                <p class="add_top_30"><input type="submit" value="Submit" class="btn_1 rounded" id="submit-contact"></p>
            </form>
        </div>
        <div class="col-xl-5 col-lg-6 pl-xl-5">
            <div class="box_contacts">
                <i class="ti-support"></i>
                <h2>Need Help?</h2>
                <a href="tel:7700995500">+91-7700995500</a> - <a href="mailto:info@myinteriormart.com">info@myinteriormart.com</a>
            </div>
            <div class="box_contacts">
                <i class="ti-help-alt"></i>
                <h2>Book Advertisement</h2>
                <a href="tel:7700994015">+91-7700994015</a> - <a href="mailto:sales@myinteriormart.com">sales@myinteriormart.com</a>
            </div>
            <div class="box_contacts">
                <i class="ti-home"></i>
                <h2>Address</h2>
                <a href="#0">Perl Residence Office No.22, Opp Wadia School, D.N.Nagar, Andheri West, Mumbai, Maharashtra 400053.</a>
            </div>
        </div>
    </div>
</div>