@model IEnumerable<BOL.CATEGORIES.ThirdCategory>
@inject ICategory categoryRepo

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/Frontend-New/_Category.cshtml";
}


<div class="container margin_80_55">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Popular Categories</h2>
    </div>
    <div class="row justify-content-center categories-list">
        @foreach (var cat in Model)
        {
            string imageUrl = cat.URL + ".png";


            <div class="col-lg-3 col-6">
                <div class="item">
                    <span class="icon">
                        <img alt="service" src="~/FileManager/CategoryIcons/Third/@imageUrl">
                    </span>
                    <div class="detail">
                        <a href="~/ListingResults/@cat.URL/tc">@cat.Name</a>
                        @{
                            if (await categoryRepo.ThirdHaveFourthAsync(cat.ThirdCategoryID) == true)
                            {
                                <a href="~/Fourth/@cat.URL"><h6>view more...</h6></a>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /row -->
</div>