@model IDENTITY.Models.ViewModels.UserMobileViewModel

@{
    ViewData["Title"] = "Login With Link";
    Layout = "~/Views/Shared/_Account.cshtml";
}

@section CSS{
    <link href="~/css/mim-authorization-pages.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <!-- Shafi: jQuery Reference -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- End: -->
    <script type="text/javascript">
        /* Shafi: Hide at startup */
        $("#otpForm").hide();
        $("#passwordForm").hide();
        /* End: */

        /* Shafi: Registration Form */
        $("#loginButton").click(function () {
            /* Shafi: Create variable for countryCode and Mobile */
            var mobileEmail = $("#mobileEmail").val();
            /* End: */

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GenerateLoginLink", "Account", new { area = "" })',
                dataType: 'json',
                data: {
                    mobileEmail: mobileEmail
                },
                success: function (data) {
                    /* Shafi: If data.Status == Success executive this */
                    if (data == "Success") {
                        /* Shafi: Hide registerForm And Get OTP Value */
                        $("#loginForm").hide();
                        /* End: */
                        /* Shafi: Show OTP Form */
                        $("#linkSentForm").fadeIn(1000);
                        /* End: */
                    };
                    /* End: */
                },
                error: function (ex) {
                    alert(ex);
                }
            });
        })
        /* End: */
    </script>

    <!-- Shafi: 6 Digit OTP Input -->
    <script>
        var container = document.getElementsByClassName("MIM-OTP-Box")[0];
        container.onkeyup = function (e) {
            var target = e.srcElement;
            var maxLength = parseInt(target.attributes["maxlength"].value, 10);
            var myLength = target.value.length;
            if (myLength >= maxLength) {
                var next = target;
                while (next = next.nextElementSibling) {
                    if (next == null)
                        break;
                    if (next.tagName.toLowerCase() == "input") {
                        next.focus();
                        break;
                    }
                }
            }
        }
    </script>
    <!-- End: -->

    <partial name="_ValidationScriptsPartial" />
}

@if (ViewBag.Cookie != null)
{
    <h1>@ViewBag.Cookie</h1>
}

<div class="row justify-content-center account-form">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2 umar-account-form-border">
        <a href="~/" title="UMARZONE">
            <img src="~/img/my-interior-mart-logo.png" class="logo" />
        </a>
        <!-- Shafi: Register Form -->
        <div id="loginForm">
            <h1>@ViewData["Title"]</h1>
            <!-- Begin: Hidden fields -->
            <!-- End: -->
            <input id="mobileEmail" class="umar-input" placeholder="Mobile/Email" />
            <button id="loginButton">Generate Login Link</button>
        </div>
        <!-- End: -->
        <!-- Shafi: OTP Form -->
        <div id="linkSentForm">
            <p class="mt-4" style="padding-top:10px;">Didn’t Receive Link? <br /> <a href="#0" style="color:#2459A3;" id="resendLink">Resend Link</a></p>
        </div>
        <!-- End: OTP -->
        <h2 class="umar-h2 mt-4">
            OR LOGIN BY
        </h2>
        <div class="d-flex flex-row justify-content-center umar-account-footer">
            <div class="umar-icons">
                <img src="~/img/account-form/mobile.svg" />
                <a href="~/Account/Login">Mobile</a>
            </div>
            <div class="umar-icons">
                <img src="~/img/account-form/email.svg" />
                <a href="#">Email</a>
            </div>
        </div>
        <h2 class="umar-h2 mt-4">
            OR Create A New Account
        </h2>
        <div class="d-flex flex-row justify-content-center umar-account-footer">
            <div class="umar-icons">
                <img src="~/img/account-form/mobile.svg" />
                <a href="~/Account/Register">Register</a>
            </div>
        </div>
    </div>
</div>