@model IDENTITY.Models.ViewModels.UserMobileViewModel

@{
    ViewData["Title"] = "Secure Data";
    Layout = "~/Views/Shared/_Account.cshtml";
}

@section CSS{
    <link href="~/css/mim-authorization-pages.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <!-- Shafi: jQuery Reference -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- End: -->
    <script type="text/javascript">
        /* Shafi: Hide at startup */

        /* Shafi: Registration Form */
        $("#encodeButton").click(function () {
            /* Shafi: Create variable for countryCode and Mobile */
            var dataValue = $("#encode").val();
            /* End: */

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Encode", "Account", new { area = "" })',
                dataType: 'json',
                data: {
                    encodeValue: dataValue
                },
                success: function (data) {
                    $("#encodedText").html(data);
                },
                error: function (ex) {
                    alert(ex);
                }
            });
        })
        /* End: */

        /* Shafi: Registration Form */
        $("#decodeButton").click(function () {
            /* Shafi: Create variable for countryCode and Mobile */
            var dataValue = $("#decode").val();
            /* End: */

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Decode", "Account", new { area = "" })',
                dataType: 'json',
                data: {
                    decodeValue: dataValue
                },
                success: function (data) {
                    $("#decodedText").html(data);
                },
                error: function (ex) {
                    alert(ex);
                }
            });
        })
        /* End: */
    </script>

    <partial name="_ValidationScriptsPartial" />
}

@if (ViewBag.Cookie != null)
{
    <h1>@ViewBag.Cookie</h1>
}

<div class="row justify-content-center account-form">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2 umar-account-form-border">
        <a href="~/" title="UMARZONE">
            <img src="~/img/my-interior-mart-logo.png" class="logo" />
        </a>
        <!-- Shafi: Register Form -->
        <div id="loginForm">
            <h1>@ViewData["Title"]</h1>
            <!-- Begin: Hidden fields -->
            <!-- End: -->
            <input id="encode" class="umar-input" placeholder="String to Encode" />
            <p id="encodedText" class="mt-2"></p>
            <button id="encodeButton">Encode</button>
            <div style="border-top:1px solid #808080; margin-top:20px;"></div>
            <h1>Decode</h1>
            <input id="decode" class="umar-input" placeholder="String to Encode" />
            <p id="decodedText" class="mt-2"></p>
            <button id="decodeButton">Decode</button>
        </div>
        <!-- End: -->
    </div>
</div>