@{
    ViewData["Title"] = "About Us | My interior Mart";
    ViewData["Description"] = "India's First Construction & Interior Local Search Engine Find Verified & Genuine Professionals, Services, Contractors, Dealers, Manufactures, Nearby.";
    ViewData["Keywords"] = "We are India's First Construction & Interior Search Engine Find Verified & Genuine Professionals, Contractors, Dealers, Suppliers, Manufactures, Consultants, Developer-Builder, Architects, Land Surveyors, Labor Contractors, Dealers, Wholesale, Exporter, Importer, Electricians, Plumbers, Air conditioner, Boilers, Lift, Sofa & Chair, Carpentry, Mattress, Doors, Windows, Automation,  CCTV Camera, Weighing Machine, Civil Work, False Ceiling, Modular Kitchen, Sing board, LED Screen, Intercom Phone, EPBX Landline, Ms Grill, Awning, Window  Net Shutter, Water Pump, Blinds, Plaster of Paris, Design, Legal Advisory, Security, Web Developer, Automation, CCTV Camera, On Hire, Pest Control, Cleaning, Transporters, Advertisement, Packer & Movers, Metal Coating, Polishing, Netting, Real Estate Agent, Printing, Consultancy, Wood Carving, Packaging, Metal Bending, Pump Installation, Solar Panel Installation, Tank Cleaning, Water Supply, Garden, Construction, Civil, Interior, Plumbing, Electrical, False Ceiling, Aluminum Fabrication, Pop, Air conditioner, Ducting System, Furniture, Painting, Furniture Polishing, Waterproofing, Fire Fighting, Ms Fabricator, Steel Fabricators, Glass Fabrication, False Flooring, Debris Removal, Core Cutting, Bore well, Floor Polishing, Demolition, Drainage, Bituminous Coating, Wallpaper, Building Material, Pop & Gypsum, Electrical, Plumbing, Tile, Bathroom Fitting, Plywood, Laminate & Veneers, Hardware, Metal, Glass, Acrylic Sheet, Modular Kitchen, Wallpaper, False Flooring, Lighting, Furniture, Furnishing, Mattress, Paint & Polish, Sofa & Chair, Granite & Stone, Paver Block, Stationery, Corporate Gift, Decorative Panel, Packaging Material, Modular Furniture, Window & Doors, Sofa & Chairs, Mattress, False Flooring, Porta Cabin, Board, Elevators, Tile, Construction Material, Pop & Gypsum, Bathroom Fitting, Plywood, Veneer & Laminates, Wallpaper, Signage, Paint & Polish, Modular Kitchen, Safety Product, Construction Chemical, Water Tank, Drainage System, Net, Awning & Canopy, Blinds, Promotional Products, False Ceiling, Stationery, Packaging Box, Corporate Gift.";
    Layout = "~/Views/Shared/Frontend-New/_SearchResult.cshtml";
}

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="card-shadow">
                <h2>About Us</h2>
                <p>Mr. Habib Humza Al - Hameed Is The Founder And Managing Director Of My Interior Mart Which Is India’s 1st Interior And Construction Industry Search Engine. He Has More Than 17 Years Of Experience In Interior Industry. He Has Done Numerous Projects Of Interior Contract For His Various Customers From Mumbai, Navi Mumbai And Thane City.</p>
                <p>He Has Passion To Become Mumbai’s #1 Company And To Make His Dream Come True He Works Very Hard And Spent A Lot Of Time, Money And Has Done Various Research On Various Online Technologies.</p>
                <p>To Bring Customers Listing From Different Industries On The First Page Of Google Is His Primary Objective, And To Serve Customers By Providing Authentic And Genuine Leads Is His Top Aim. In 2018 He Published His Magazine On Interior Design And Construction Industry Called “My Interior Mart Print Magazine” And Launched Its First Issue In Diwali Month Of The 2018 Year.</p>
                <p>In Small Span Of Time He Has Gained Various Customers From Different Industries. He Is Also Involved In Interior Design And Civil Work For His Customers. He Is Also A Proprietor In Creative Concept A 10 Years Old Interior Contractor Company.</p>
            </div>
        </div>
        <aside class="col-lg-3">
            <div class="widget card-shadow-sidebar">
                <div class="widget-title">
                    <h4>About us</h4>
                </div>
                <ul class="widget-title-list-item">
                    <li><a href="#">Profile </a></li>
                    <li><a href="#">Founder Message </a></li>
                    <li><a href="#">Vission & Mission </a></li>
                    <li><a href="#">Terms & Conditions </a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#"> Help Center </a></li>
                    <li><a href="#">Contact Us </a></li>
                </ul>
            </div>

            <div class="widget card-shadow-sidebar">
                <div class="widget-title">
                    <h4>Services</h4>
                </div>
                <ul class="widget-title-list-item">
                    <li><a href="#">Profile </a></li>
                    <li><a href="#">Free Buisness Listing </a></li>
                    <li><a href="#">Buy & Sell Offers </a></li>
                    <li><a href="#">Job Openings </a></li>
                    <li><a href="#">Tender Alerts </a></li>
                    <li><a href="#">Exhibition & Events </a></li>
                    <li><a href="#">Labour Naka </a></li>
                    <li><a href="#">Banner Advertisement </a></li>
                    <li><a href="#">Leads & Enquires </a></li>
                    <li><a href="#">Online Promotion </a></li>
                </ul>
            </div>
            <div class="widget card-shadow-sidebar">
                <div class="widget-title">
                    <h4> GET IN TOUCH</h4>
                </div>
                <ul class="widget-title-list-item">
                    <li><a href="#">Client Testimonials </a></li>
                    <li><a href="#">Feedback </a></li>
                    <li><a href="#">Suggestions</a></li>
                    <li><a href="#">We're Hiring </a></li>
                </ul>
            </div>
        </aside>
    </div>
</div>