@{
    ViewData["Title"] = "Account Suspended";
    Layout = "~/Views/Shared/Frontend/_SuccessOrErrorOrNotification.cshtml";
}

<main>
    <div class="container margin_60">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div id="confirm">
                    <img src="https://cdn2.iconfinder.com/data/icons/prohibited-forbidden-signs/100/Prohibited-31-512.png" width="150" style="margin-bottom:25px;" />
                    <h1>Account Blocked</h1>
                    <p style="font-size:18px;">
                        Sorry! your account is blocked.
                        <br />
                        Please contact <a href="~/Information/Contact">support team.</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!--/main-->