@{
    ViewData["Title"] = "Privacy Policy | My interior Mart";
    ViewData["Description"] = "India's First Construction & Interior Local Search Engine Find Verified & Genuine Professionals, Services, Contractors, Dealers, Manufactures, Nearby.";
    ViewData["Keywords"] = "We are India's First Construction & Interior Search Engine Find Verified & Genuine Professionals, Contractors, Dealers, Suppliers, Manufactures, Consultants, Developer-Builder, Architects, Land Surveyors, Labor Contractors, Dealers, Wholesale, Exporter, Importer, Electricians, Plumbers, Air conditioner, Boilers, Lift, Sofa & Chair, Carpentry, Mattress, Doors, Windows, Automation,  CCTV Camera, Weighing Machine, Civil Work, False Ceiling, Modular Kitchen, Sing board, LED Screen, Intercom Phone, EPBX Landline, Ms Grill, Awning, Window  Net Shutter, Water Pump, Blinds, Plaster of Paris, Design, Legal Advisory, Security, Web Developer, Automation, CCTV Camera, On Hire, Pest Control, Cleaning, Transporters, Advertisement, Packer & Movers, Metal Coating, Polishing, Netting, Real Estate Agent, Printing, Consultancy, Wood Carving, Packaging, Metal Bending, Pump Installation, Solar Panel Installation, Tank Cleaning, Water Supply, Garden, Construction, Civil, Interior, Plumbing, Electrical, False Ceiling, Aluminum Fabrication, Pop, Air conditioner, Ducting System, Furniture, Painting, Furniture Polishing, Waterproofing, Fire Fighting, Ms Fabricator, Steel Fabricators, Glass Fabrication, False Flooring, Debris Removal, Core Cutting, Bore well, Floor Polishing, Demolition, Drainage, Bituminous Coating, Wallpaper, Building Material, Pop & Gypsum, Electrical, Plumbing, Tile, Bathroom Fitting, Plywood, Laminate & Veneers, Hardware, Metal, Glass, Acrylic Sheet, Modular Kitchen, Wallpaper, False Flooring, Lighting, Furniture, Furnishing, Mattress, Paint & Polish, Sofa & Chair, Granite & Stone, Paver Block, Stationery, Corporate Gift, Decorative Panel, Packaging Material, Modular Furniture, Window & Doors, Sofa & Chairs, Mattress, False Flooring, Porta Cabin, Board, Elevators, Tile, Construction Material, Pop & Gypsum, Bathroom Fitting, Plywood, Veneer & Laminates, Wallpaper, Signage, Paint & Polish, Modular Kitchen, Safety Product, Construction Chemical, Water Tank, Drainage System, Net, Awning & Canopy, Blinds, Promotional Products, False Ceiling, Stationery, Packaging Box, Corporate Gift.";
    Layout = "~/Views/Shared/Frontend-New/_SearchResult.cshtml";
}

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="card-shadow">
                <h2>PRIVACY POLICY</h2>
                <p>Your Privacy Is Important To Us. It Is My Interior Mart's Policy To Respect Your Privacy Regarding Any Information We May Collect From You Across Our Website, Https://Www.Myinteriormart.Com, And Other Sites We Own And Operate.</p>
                <p>
                    We Only Ask For Personal Information When We Truly Need It To Provide A Service To You. We Collect It By Fair And Lawful Means, With Your Knowledge And Consent. We Also Let You Know Why We’re Collecting It And How It Will Be Used.
                </p>
                <p>
                    We Only Retain Collected Information For As Long As Necessary To Provide You With Your Requested Service. What Data We Store, We’ll Protect Within Commercially Acceptable Means To Prevent Loss And Theft, As Well As Unauthorized Access, Disclosure, Copying, Use Or Modification.
                </p>
                <p>
                    We Don’t Share Any Personally Identifying Information Publicly Or With Third-Parties, Except When Required To By Law.
                </p>
                <p>
                    Our Website May Link To External Sites That Are Not Operated By Us. Please Be Aware That We Have No Control Over The Content And Practices Of These Sites, And Cannot Accept Responsibility Or Liability For Their Respective Privacy Policies.
                </p>
                <p>
                    You Are Free To Refuse Our Request For Your Personal Information, With The Understanding That We May Be Unable To Provide You With Some Of Your Desired Services.
                </p>
                <p>
                    Your Continued Use Of Our Website Will Be Regarded As Acceptance Of Our Practices Around Privacy And Personal Information. If You Have Any Questions About How We Handle User Data And Personal Information, Feel Free To Contact Us.
                </p>
                <p>
                    This Policy Is Effective As Of 31 December 2019.
                </p>




            </div>
        </div>
        <aside class="col-lg-3">
            <div class="widget card-shadow-sidebar">
                <div class="widget-title">
                    <h4>About us</h4>
                </div>
                <ul class="widget-title-list-item">
                    <li><a href="#">Profile </a></li>
                    <li><a href="#">Founder Message </a></li>
                    <li><a href="#">Vission & Mission </a></li>
                    <li><a href="#">Terms & Conditions </a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#"> Help Center </a></li>
                    <li><a href="#">Contact Us </a></li>
                </ul>
            </div>

            <div class="widget card-shadow-sidebar">
                <div class="widget-title">
                    <h4>Services</h4>
                </div>
                <ul class="widget-title-list-item">
                    <li><a href="#">Profile </a></li>
                    <li><a href="#">Free Buisness Listing </a></li>
                    <li><a href="#">Buy & Sell Offers </a></li>
                    <li><a href="#">Job Openings </a></li>
                    <li><a href="#">Tender Alerts </a></li>
                    <li><a href="#">Exhibition & Events </a></li>
                    <li><a href="#">Labour Naka </a></li>
                    <li><a href="#">Banner Advertisement </a></li>
                    <li><a href="#">Leads & Enquires </a></li>
                    <li><a href="#">Online Promotion </a></li>
                </ul>
            </div>
            <div class="widget card-shadow-sidebar">
                <div class="widget-title">
                    <h4> GET IN TOUCH</h4>
                </div>
                <ul class="widget-title-list-item">
                    <li><a href="#">Client Testimonials </a></li>
                    <li><a href="#">Feedback </a></li>
                    <li><a href="#">Suggestions</a></li>
                    <li><a href="#">We're Hiring </a></li>
                </ul>
            </div>
        </aside>
    </div>
</div>