@{
    ViewData["Title"] = "Terms and Condition | My interior Mart";
    ViewData["Description"] = "India's First Construction & Interior Local Search Engine Find Verified & Genuine Professionals, Services, Contractors, Dealers, Manufactures, Nearby.";
    ViewData["Keywords"] = "We are India's First Construction & Interior Search Engine Find Verified & Genuine Professionals, Contractors, Dealers, Suppliers, Manufactures, Consultants, Developer-Builder, Architects, Land Surveyors, Labor Contractors, Dealers, Wholesale, Exporter, Importer, Electricians, Plumbers, Air conditioner, Boilers, Lift, Sofa & Chair, Carpentry, Mattress, Doors, Windows, Automation,  CCTV Camera, Weighing Machine, Civil Work, False Ceiling, Modular Kitchen, Sing board, LED Screen, Intercom Phone, EPBX Landline, Ms Grill, Awning, Window  Net Shutter, Water Pump, Blinds, Plaster of Paris, Design, Legal Advisory, Security, Web Developer, Automation, CCTV Camera, On Hire, Pest Control, Cleaning, Transporters, Advertisement, Packer & Movers, Metal Coating, Polishing, Netting, Real Estate Agent, Printing, Consultancy, Wood Carving, Packaging, Metal Bending, Pump Installation, Solar Panel Installation, Tank Cleaning, Water Supply, Garden, Construction, Civil, Interior, Plumbing, Electrical, False Ceiling, Aluminum Fabrication, Pop, Air conditioner, Ducting System, Furniture, Painting, Furniture Polishing, Waterproofing, Fire Fighting, Ms Fabricator, Steel Fabricators, Glass Fabrication, False Flooring, Debris Removal, Core Cutting, Bore well, Floor Polishing, Demolition, Drainage, Bituminous Coating, Wallpaper, Building Material, Pop & Gypsum, Electrical, Plumbing, Tile, Bathroom Fitting, Plywood, Laminate & Veneers, Hardware, Metal, Glass, Acrylic Sheet, Modular Kitchen, Wallpaper, False Flooring, Lighting, Furniture, Furnishing, Mattress, Paint & Polish, Sofa & Chair, Granite & Stone, Paver Block, Stationery, Corporate Gift, Decorative Panel, Packaging Material, Modular Furniture, Window & Doors, Sofa & Chairs, Mattress, False Flooring, Porta Cabin, Board, Elevators, Tile, Construction Material, Pop & Gypsum, Bathroom Fitting, Plywood, Veneer & Laminates, Wallpaper, Signage, Paint & Polish, Modular Kitchen, Safety Product, Construction Chemical, Water Tank, Drainage System, Net, Awning & Canopy, Blinds, Promotional Products, False Ceiling, Stationery, Packaging Box, Corporate Gift.";
    Layout = "~/Views/Shared/Frontend-New/_SearchResult.cshtml";
}

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="card-shadow">
                <h2>Terms of Use</h2>

                <h6>1. Terms</h6>
                <p>By Accessing The Website At Https://Www.Myinteriormart.Com, You Are Agreeing To Be Bound By These Terms Of Service, All Applicable Laws And Regulations, And Agree That You Are Responsible For Compliance With Any Applicable Local Laws. If You Do Not Agree With Any Of These Terms, You Are Prohibited From Using Or Accessing This Site. The Materials Contained In This Website Are Protected By Applicable Copyright And Trademark Law.</p>
                <h6>2. Use License</h6>
                <p>Permission Is Granted To Temporarily Download One Copy Of The Materials (Information Or Software) On My Interior Mart's Website For Personal, Non-Commercial Transitory Viewing Only. This Is The Grant Of A License, Not A Transfer Of Title, And Under This License You May Not:</p>
                <ul class="roman-list">
                    <li>Modify Or Copy The Materials;</li>
                    <li>Use The Materials For Any Commercial Purpose, Or For Any Public Display (Commercial Or Non-Commercial);</li>
                    <li> Attempt To Decompile Or Reverse Engineer Any Software Contained On My Interior Mart's Website;</li>
                    <li>Remove Any Copyright Or Other Proprietary Notations From The Materials; Or</li>
                    <li>Transfer The Materials To Another Person Or "Mirror" The Materials On Any Other Server.</li>
                </ul>
                <p>This License Shall Automatically Terminate If You Violate Any Of These Restrictions And May Be Terminated By My Interior Mart At Any Time. Upon Terminating Your Viewing Of These Materials Or Upon The Termination Of This License, You Must Destroy Any Downloaded Materials In Your Possession Whether In Electronic Or Printed Format.</p>
                <h6>3. Disclaimer</h6>
                <p>The Materials On My Interior Mart's Website Are Provided On An 'As Is' Basis. My Interior Mart Makes No Warranties, Expressed Or Implied, And Hereby Disclaims And Negates All Other Warranties Including, Without Limitation, Implied Warranties Or Conditions Of Merchant Ability, Fitness For A Particular Purpose, Or Non-Infringement Of Intellectual Property Or Other Violation Of Rights.</p>
                <p>Further, My Interior Mart Does Not Warrant Or Make Any Representations Concerning The Accuracy, Likely Results, Or Reliability Of The Use Of The Materials On Its Website Or Otherwise Relating To Such Materials Or On Any Sites Linked To This Site.</p>

                <h6>4. Limitations</h6>
                <p>In No Event Shall My Interior Mart Or Its Suppliers Be Liable For Any Damages (Including, Without Limitation, Damages For Loss Of Data Or Profit, Or Due To Business Interruption) Arising Out Of The Use Or Inability To Use The Materials On My Interior Mart's Website, Even If My Interior Mart Or A My Interior Mart Authorized Representative Has Been Notified Orally Or In Writing Of The Possibility Of Such Damage. Because Some Jurisdictions Do Not Allow Limitations On Implied Warranties, Or Limitations Of Liability For Consequential Or Incidental Damages, These Limitations May Not Apply To You.</p>

                <h6>5. Accuracy Of Materials</h6>
                <p>The Materials Appearing On My Interior Mart's Website Could Include Technical, Typographical, Or Photographic Errors. My Interior Mart Does Not Warrant That Any Of The Materials On Its Website Are Accurate, Complete Or Current. My Interior Mart May Make Changes To The Materials Contained On Its Website At Any Time Without Notice. However, My Interior Mart Does Not Make Any Commitment To Update The Materials.</p>

                <h6>6. Links</h6>
                <p>My Interior Mart Has Not Reviewed All Of The Sites Linked To Its Website And Is Not Responsible For The Contents Of Any Such Linked Site. The Inclusion Of Any Link Does Not Imply Endorsement By My Interior Mart Of The Site. Use Of Any Such Linked Website Is At The User's Own Risk.</p>

                <h6>7. Modifications</h6>
                <p>My Interior Mart May Revise These Terms Of Service For Its Website At Any Time Without Notice. By Using This Website You Are Agreeing To Be Bound By The Then Current Version Of These Terms Of Service.</p>

                <h6>8. Governing Law</h6>
                <p>These Terms And Conditions Are Governed By And Construed In Accordance With The Laws Of Mumbai, Maharashtra, India And You Irrevocably Submit To The Exclusive Jurisdiction Of The Courts In That State Or Location.</p>
            </div>
        </div>
        <aside class="col-lg-3">
            <div class="widget card-shadow-sidebar">
                <div class="widget-title">
                    <h4>About us</h4>
                </div>
                <ul class="widget-title-list-item">
                    <li><a href="#">Profile </a></li>
                    <li><a href="#">Founder Message </a></li>
                    <li><a href="#">Vission & Mission </a></li>
                    <li><a href="#">Terms & Conditions </a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#"> Help Center </a></li>
                    <li><a href="#">Contact Us </a></li>
                </ul>
            </div>

            <div class="widget card-shadow-sidebar">
                <div class="widget-title">
                    <h4>Services</h4>
                </div>
                <ul class="widget-title-list-item">
                    <li><a href="#">Profile </a></li>
                    <li><a href="#">Free Buisness Listing </a></li>
                    <li><a href="#">Buy & Sell Offers </a></li>
                    <li><a href="#">Job Openings </a></li>
                    <li><a href="#">Tender Alerts </a></li>
                    <li><a href="#">Exhibition & Events </a></li>
                    <li><a href="#">Labour Naka </a></li>
                    <li><a href="#">Banner Advertisement </a></li>
                    <li><a href="#">Leads & Enquires </a></li>
                    <li><a href="#">Online Promotion </a></li>
                </ul>
            </div>
            <div class="widget card-shadow-sidebar">
                <div class="widget-title">
                    <h4> GET IN TOUCH</h4>
                </div>
                <ul class="widget-title-list-item">
                    <li><a href="#">Client Testimonials </a></li>
                    <li><a href="#">Feedback </a></li>
                    <li><a href="#">Suggestions</a></li>
                    <li><a href="#">We're Hiring </a></li>
                </ul>
            </div>
        </aside>
    </div>
</div>