<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#shafi').click(function () {
            $.ajax({
                type: 'GET',
                url: '/AjaxT/Me',
                success: function (result) {
                    alert(result);
                }
            });
        });

        $('#getProduct').click(function () {
            $.ajax({
                type: 'GET',
                url: '/AjaxT/GetProduct',
                success: function (result) {
                    alert(result);
                }
            });
        });
    });
</script>

<button type="button" id="shafi">Test</button>

<button type="button" id="getProduct">Test</button>
