@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Frontend/_SuccessOrErrorOrNotification.cshtml";
}

<link rel="stylesheet" href="~/css/MIM-OTP-Wizard.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<main>
    <div class="container MIM-OTP-Wizard-Container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-5 MIM-OTP-Wizard-Heading">
                <h4>Claim Listing</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 MIM-OTP-Wizard-Type-Container">
                <img src="~/icons/claim-listing-wizard/Visiting Card.svg" />
                <h1>By Upload Business Proof</h1>
                <p>Your card address must match this listing address.</p>
                <!-- Shafi: Hidden Inputs -->
                <form asp-action="ByUploadDocument" asp-controller="Listing" asp-area="Claims" method="post" enctype="multipart/form-data">
                    <input type="file" name="documentOne" accept="image/jpeg" required />
                    <br /><br />
                    <input type="file" name="documentTwo" accept="image/jpeg" required />
                    <br /><br />
                    <input type="file" name="documentThree" accept="image/jpeg" required />
                    <br /><br />
                    <button type="submit" class="btn btn-primary btn-sm btn-block">Upload Documents</button>
                </form>
                <a href="#0">Upload Documents</a>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>