@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Frontend/_SuccessOrErrorOrNotification.cshtml";
}

<link rel="stylesheet" href="~/css/MIM-OTP-Wizard.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">



<main>
    <div class="container MIM-OTP-Wizard-Container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-5 MIM-OTP-Wizard-Heading">
                <h4>Claim Listing</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 MIM-OTP-Wizard-Type-Container">
                <img src="~/icons/claim-listing-wizard/OTP.svg" />
                <h1>By Mobile</h1>
                <p>Use the same mobile number present in this listing.</p>
                <a href="~/Claims/Listing/OtpBySms">OTP Via SMS</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 MIM-OTP-Wizard-Type-Container">
                <img src="~/icons/claim-listing-wizard/Email.svg" />
                <h1>By Email</h1>
                <p>Your registered email must match this listing email.</p>
                <a href="~/Claims/Listing/OtpByEmail">OTP Via Email</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 MIM-OTP-Wizard-Type-Container">
                <img src="~/icons/claim-listing-wizard/Visiting Card.svg" />
                <h1>By Upload Business Proof</h1>
                <p>Visiting Card must have a matching address of this listing.</p>
                <a href="~/Claims/Listing/ByUploadDocument">Upload Visiting Card</a>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>