@model BOL.LISTING.Communication
@inject DAL.LISTING.ListingDbContext listingContext

@{
    ViewData["Title"] = "Communication Details";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}
<!-- Begin: Create history -->
@await Component.InvokeAsync("UserHistory")
<!-- End: -->
<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Listing";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "View All Listings";
    ViewData["BT-Link"] = "/Communications/Index";
    // Shafi: Get Listing ID for Menu
    var listingId = listingContext.Communication.Where(i => i.CommunicationID == Model.CommunicationID).Select(i => i.ListingID).FirstOrDefault();
    ViewData["RecordID"] = listingId;
    // End:
}
<!-- End: -->
<!-- Begin: Change status of active edit listing menu based on selection -->
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var $Active = $('[name = "@ViewData["BC-2"]"]');
            $Active.addClass("active");
            $Active.find('span').removeClass("badge badge-secondary badge-pill").addClass("badge badge-light badge-pill");
        });
    </script>
}
<!-- End: -->

<div class="col-lg-12">
    <div class="row">
        @await Component.InvokeAsync("EditListingSideMenu")

        <div class="col-lg-10">
            <h4>@ViewData["Title"]</h4>
            <hr />
            <form asp-action="Edit" class="parsley-style-1" id="selectForm2" name="selectForm2">
                <div class="row">
                    <!-- Begin: Hidden Fields -->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CommunicationID" />
                    <input type="hidden" asp-for="ListingID" />
                    <input type="hidden" asp-for="OwnerGuid" />
                    <input type="hidden" asp-for="IPAddress" />
                    <span asp-validation-for="ListingID" class="text-danger"></span>
                    <span asp-validation-for="OwnerGuid" class="text-danger"></span>
                    <span asp-validation-for="IPAddress" class="text-danger"></span>
                    <!-- End:-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" data-parsley-class-handler="#fnWrapper" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Website" class="control-label"></label>
                            <input asp-for="Website" class="form-control" />
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Mobile" class="control-label"></label>
                            <input asp-for="Mobile" type="number" class="form-control" data-parsley-class-handler="#fnWrapper" required />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Whatsapp" class="control-label"></label>
                            <input asp-for="Whatsapp" type="number" class="form-control" data-parsley-class-handler="#fnWrapper" required />
                            <span asp-validation-for="Whatsapp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Telephone" class="control-label"></label>
                            <input asp-for="Telephone" type="number" class="form-control" />
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TelephoneSecond" class="control-label"></label>
                            <input asp-for="TelephoneSecond" type="number" class="form-control" />
                            <span asp-validation-for="TelephoneSecond" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TollFree" class="control-label"></label>
                            <input asp-for="TollFree" type="number" class="form-control" />
                            <span asp-validation-for="TollFree" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Fax" class="control-label"></label>
                            <input asp-for="Fax" type="number" class="form-control" />
                            <span asp-validation-for="Fax" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SkypeID" class="control-label"></label>
                            <input asp-for="SkypeID" class="form-control" />
                            <span asp-validation-for="SkypeID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>