@model IEnumerable<BOL.LISTING.ListingViews>
@inject BAL.Services.Contracts.IUserProfileService userProfileService

@{
    ViewData["Title"] = "All Listings";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- https://www.bootdey.com/snippets/view/contacts-lab#html -->

@section CSS{
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/MIMDashboardUserList.css" rel="stylesheet">
}

<h4>Users Who Viewed Your Listings</h4>
<hr />
<div class="row style-alt">
    @foreach (var item in Model)
    {
        var user = await userProfileService.GetProfileByOwnerGuid(item.OwnerGuid);
        if (user != null)
        {
            <div class="col-sm-3 col-md-3">
                <div class="widget" style="background-color:#ffffff; border:1px solid #eaeaea;">
                    <div class="widget-simple">
                        <a href="#">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" class="widget-image img-circle pull-left animation-fadeIn">
                        </a>
                        <h4 class="widget-content text-right">
                            <a href="#" class="tx-14">@user.Name</a><br />
                            <span class="tx-11 tx-white btn btn-sm btn-info" style="margin-top:10px; background-color:#0164ff;"><i class="fa fa-user-plus"></i> Add Friend</span>
                        </h4>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-sm-3 col-md-3">
                <div class="widget" style="background-color:#ffffff; border:1px solid #eaeaea;">
                    <div class="widget-simple">
                        <a href="#">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" class="widget-image img-circle pull-left animation-fadeIn">
                        </a>
                        <h4 class="widget-content text-right">
                            <a href="#" class="tx-14">Not Available</a><br />
                            <span class="tx-11 tx-white btn btn-sm btn-info" style="margin-top:10px; background-color:#0164ff;"><i class="fa fa-user-plus"></i> Add Friend</span>
                        </h4>
                    </div>
                </div>
            </div>
        }
    }
</div>