@model BOL.LISTING.Communication

@{
    ViewData["Title"] = "Add Communication Details";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}
<!-- Begin: Create history -->
@await Component.InvokeAsync("UserHistory")
<!-- End: -->
<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Subscriptions";
    ViewData["BC-2"] = "Listings";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text"] = "Add New Listing";
    ViewData["BT-Link"] = "/Subscriptions/Listings/Create";
    ViewData["BT-Text2"] = "Manage Listings";
    ViewData["BT-Link2"] = "/Subscriptions/Listings/Index";
}
<style>
    .dropdown-toggle {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


<!-- End: -->
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-2" style="padding-left:0px; margin-left:0px;">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Company
                    <span class="badge badge-success badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center active">
                    Communication
                    <span class="badge badge-light badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Address
                    <span class="badge badge-secondary badge-pill">3</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Categories
                    <span class="badge badge-secondary badge-pill">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Specialisation
                    <span class="badge badge-secondary badge-pill">5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Working Hours
                    <span class="badge badge-secondary badge-pill">6</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Payment Details
                    <span class="badge badge-secondary badge-pill">7</span>
                </li>
@*                 <li class="list-group-item d-flex justify-content-between align-items-center">
                    Images
                    <span class="badge badge-secondary badge-pill">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Add Social Link
                    <span class="badge badge-secondary badge-pill">9</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    SEO Keyword
                    <span class="badge badge-secondary badge-pill">10</span>
                </li> *@
                @*<li class="list-group-item d-flex justify-content-between align-items-center">
            Neighborhood
            <span class="badge badge-secondary badge-pill">8</span>
        </li>*@
            </ul>
        </div>

        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <h4>@ViewData["Title"] @* @ViewBag.ListingID *@</h4>
                    <hr />
                    <form asp-action="Create" class="parsley-style-1" id="selectForm2" name="selectForm2">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <!-- Begin: Hidden -->
                            <input type="hidden" asp-for="ListingID" value="@ViewBag.ListingID" />
                            <input type="hidden" asp-for="OwnerGuid" value="none" />
                            <input type="hidden" asp-for="IPAddress" value="none" />
                            <span asp-validation-for="ListingID" class="text-danger"></span>
                            <span asp-validation-for="OwnerGuid" class="text-danger"></span>
                            <span asp-validation-for="IPAddress" class="text-danger"></span>
                            <!-- End:-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Language" class="control-label"></label>
                                    <div class="dropdown">
                                        <button class="form-control btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Select Languages
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            @foreach (var language in (List<string>)ViewData["Language"])
                                            {
                                                <div class="form-check dropdown-item">
                                                    <input class="form-check-input language-checkbox" type="checkbox" name="Languages" value="@language" id="language-@language">
                                                    <label class="form-check-label" for="language-@language">
                                                        @language
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <span asp-validation-for="Language" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Mobile" class="control-label"></label>
                                    <input asp-for="Mobile" type="number" class="form-control" data-parsley-class-handler="#fnWrapper" required />
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TollFree" class="control-label"></label>
                                    <input asp-for="TollFree" type="number" class="form-control" />
                                    <span asp-validation-for="TollFree" class="text-danger"></span>
                                </div>
                                                                          
                              @*   <div class="form-group">
                                    <label asp-for="Whatsapp" class="control-label"></label>
                                    <input asp-for="Whatsapp" type="number" class="form-control" data-parsley-class-handler="#fnWrapper" required />
                                    <span asp-validation-for="Whatsapp" class="text-danger"></span>
                                </div> *@
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" data-parsley-class-handler="#fnWrapper" required />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Telephone" class="control-label"></label>
                                    <input asp-for="Telephone" type="number" class="form-control" />
                                    <span asp-validation-for="Telephone" class="text-danger"></span>
                                </div>
                                                                                            
                                @* <div class="form-group">
                                    <label asp-for="Fax" class="control-label"></label>
                                    <input asp-for="Fax" type="number" class="form-control" />
                                    <span asp-validation-for="Fax" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SkypeID" class="control-label"></label>
                                    <input asp-for="SkypeID" class="form-control" />
                                    <span asp-validation-for="SkypeID" class="text-danger"></span>
                                </div> *@
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="TelephoneSecond" class="control-label">Registered Mobile</label>
                                    <input asp-for="TelephoneSecond" type="number" class="form-control" />
                                    <span asp-validation-for="TelephoneSecond" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Website" class="control-label"></label>
                                    <input asp-for="Website" class="form-control" />
                                    <span asp-validation-for="Website" class="text-danger"></span>
                                </div>
                            </div>




                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="submit" value="Save & Continue" class="btn btn-primary" />
                            <a href="#" onclick="history.back();" class="btn btn-secondary">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.language-checkbox').change(function () {
                updateButtonText();
            });

            function updateButtonText() {
                var selectedLanguages = [];
                $('.language-checkbox:checked').each(function () {
                    selectedLanguages.push($(this).next('label').text());
                });

                var button = $('#dropdownMenuButton');
                if (selectedLanguages.length > 0) {
                    var selectedText = selectedLanguages.join(', ');
                    button.text(selectedText);
                    button.attr('title', selectedText);  // Set the full text in the title attribute
                } else {
                    button.text('Select Languages');
                    button.attr('title', 'Select Languages');  // Reset the title attribute
                }
            }
        });
    </script>


    @* <script type="text/javascript">
        $(document).ready(function () {
            // Code to handle the dropdown with checkboxes
            $('.dropdown-menu').on('click', function (e) {
                e.stopPropagation();
            });
        });
    </script> *@

  
}


